<h1 class="display-3"> Flats in my app</h1>
<div class="container">
  <% @flats.each do |flat| %>
    <div class="card">
      <img width="200" src="<%= flat.image_url %>" alt="">
      <div class="card-body">
        <p> <%= flat.name %></p>
        <p class="text-muted"> <%= flat.address %></p>
      </div>
    </div>
  <% end %>
</div>
